<form #f="ngForm" (ngSubmit)="signIn(f.value)" class="form-signin">
  <h2 class="form-signin-heading">{{'Please sign in' | translate}}</h2>
  <div *ngIf="invalidLogin" class="alert alert-danger">Invalid userName and/or password.</div>
  <label class="sr-only" for="inputEmail">Email address</label>
  <input autofocus class="form-control" id="inputEmail" name="email" ngModel placeholder="Email address" required
         type="email" #email="ngModel">
  <span class="text-danger"
        *ngIf="(email.touched || f.submitted) && email.errors?.required">
                                Username is required
                            </span>
  <br>
  <label class="sr-only" for="inputPassword">Password</label>
  <input class="form-control" id="inputPassword" name="password" ngModel placeholder="Password" required
         type="password" #password="ngModel">
  <span class="text-danger"
        *ngIf="(password.touched || f.submitted) && password.errors?.required">
                                Username is required
                            </span>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Sign in</button>
  <br>
  <span><a routerLink="/register">Don't have account? Click here to register</a></span>
</form>
