<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Eclectics </h1>
    <p class="lead text-muted">{{'welcome message' | translate}}</p>
    <p>
      <a routerLink="/register" class="btn btn-primary my-2 pr-2">Register as Customer</a>
      <span class="m-2"></span>
      <a routerLink="/login" class="btn btn-secondary my-2">Log In</a>
    </p>
  </div>
</section>
