<form #f="ngForm" (ngSubmit)="signIn(f.value)" class="form-signin">
  <h2 class="form-signin-heading">Please register as a new user</h2>
  <div *ngIf="invalidForm" class="alert alert-danger">Invalid Form Details.</div>

  <label class="sr-only" for="inputUserName">UserName</label>
  <input autofocus class="form-control" id="inputUserName" name="userName" ngModel placeholder="User Name" required
         type="text" #userName="ngModel">
  <span class="text-danger"
        *ngIf="(userName.touched || f.submitted) && userName.errors?.required">
                                Username is required
                            </span>
  <br>
  <label class="sr-only" for="inputFirstName">First Name</label>
  <input autofocus class="form-control" id="inputFirstName" name="firstName" ngModel placeholder="First Name" required
         type="text" #firstname="ngModel">
  <span class="text-danger"
        *ngIf="(firstname.touched || f.submitted) && firstname.errors?.required">
                                FirstName is required
                            </span>
  <br>
  <label class="sr-only" for="inputLastName">Last Name</label>
  <input autofocus class="form-control" id="inputLastName" name="lastName" ngModel placeholder="Last Name" required
         type="text" #lastName="ngModel">
  <span class="text-danger"
        *ngIf="(lastName.touched || f.submitted) && lastName.errors?.required">
                                Last Name is required
                            </span>
  <br>
  <label class="sr-only" for="inputEmail">Email</label>
  <input class="form-control" id="inputEmail" name="email" ngModel placeholder="Email" required
         type="email" #email="ngModel">
  <span class="text-danger"
        *ngIf="(email.touched || f.submitted) && email.errors?.required">
                                Email is required
                            </span>
  <br>
  <label class="sr-only" for="inputIdNumber">Id Number</label>
  <input class="form-control" id="inputIdNumber" name="idNumber" ngModel placeholder="ID Number" required
         type="number" #idNumber="ngModel">
  <span class="text-danger"
        *ngIf="(idNumber.touched || f.submitted) && idNumber.errors?.required">
                                ID Number is required
                            </span>
  <br>
  <label class="sr-only" for="inputDOB">Date of Birth</label>
  <input autofocus class="form-control" id="inputDOB" name="dob" ngModel placeholder="Date of Birth" required
         type="date" #dob="ngModel">
  <span class="text-danger"
        *ngIf="(dob.touched || f.submitted) && dob.errors?.required">
                                DateOf Birth is required
                            </span>
  <br>
  <label class="sr-only" for="inputPassword">Password</label>
  <input class="form-control" id="inputPassword" name="password" ngModel placeholder="Password" required
         type="password" #password="ngModel">
  <span class="text-danger"
        *ngIf="(password.touched || f.submitted) && password.errors?.required">
                                Password is required
                            </span>
  <br>
  <label class="sr-only" for="inputPasswordConfirmation">Confirm Password</label>
  <input class="form-control" id="inputPasswordConfirmation" name="passwordConfirmation" ngModel placeholder="Password Confirmation" required
         type="password" #confirmPassword="ngModel">
  <span class="text-danger"
        *ngIf="(confirmPassword.touched || f.submitted) && confirmPassword.errors?.required">
                                Password Confirmation is required
                            </span>

  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.valid">Sign Up</button>
  <br>
  <span><a routerLink="/login">Already have account? Click here to Log In</a></span>
</form>
